name: release

on:
  workflow_dispatch:  # Allows you to manually trigger the workflow

env:
  VERSION: 1.0.${{ github.run_number }}
  ASSET_NAME: Shadr_win-x64.exe

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET 
        uses: actions/setup-dotnet@v5
        with:
            dotnet-version: '10.0.x'

      - name: Publish Single File
        run: dotnet publish ./Shadr.csproj -c Release --output ./build_output -p:Version=${{ env.VERSION }}

      - name: Prepare Release Assets
        run: |
          mkdir -p output
          Copy-Item -Path "build_output/Shadr.exe" -Destination "output/${{ env.ASSET_NAME }}"
        shell: pwsh

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          files: output/${{ env.ASSET_NAME }}
          draft: false
          prerelease: false

      - name: Delete Old Releases
        uses: dev-drprasad/delete-older-releases@v0.3.4
        with:
          keep_latest: 2
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}